body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  background-color: lightpink;
}

#slots{
  gap: 5px;
}

.slot, .color {
  border-radius: 10px;
    height: 200px;
}

.slot {
  background-color: #f0f0f0;
}

.color {
  cursor: grab;
}

.color:active {
  cursor: grabbing;
}
img{
  height: 70px;
}

.second img{
  height: 50px;

}

/*  */
.option-container{
  gap: 13px;
}

.optionImg {
  height: 130px;
  background-color: rgb(73, 72, 73);
  border-radius: 10px;
  transition: transform 0.3s ease; /* Adding transition for smooth scaling */
}

.optionImg:hover {
  transform: scale(1.1); /* Increasing size on hover */
}


/*  */
.steps{
  width: 100%;
  height: 100%;
}

